@model NietzscheBiography.WebSite.ViewModels.Places.CountryDetail
@{
    ViewBag.Title = @Model.Country.Title + " : Nietzsche Biography";
    ViewBag.Description = @Model.Country.Title + " : A place related to Friedrich Nietzsche";
}
<header>
    <div class="page-header">
        <h1>@Model.Country.Title</h1>
    </div>
</header>