@model NietzscheBiography.WebSite.ViewModels.MediaItems.Detail
@{
    ViewBag.Title = @Model.MediaItem.DisplayTitle + " : Nietzsche Biography";
    ViewBag.Description = "";
}
<header class="page-header">
    <h1>@Model.MediaItem.DisplayTitle</h1>
</header>