@model NietzscheBiography.WebSite.ViewModels.Events.Letters
@{
    ViewBag.Title = "Letters of Friedrich Nietzsche";
    ViewBag.ActiveParticipant = Model.Participant;
    ViewBag.Description = "";
}
<div class="page-header">
    <h1>Letters <small>Friedrich Nietzsche's Correspondence</small></h1>
</div>